<!DOCTYPE html>
<html
  style="
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    margin: 0px;
    height: 100%;
  "
>
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta charset="utf-8" />
    <style id="globals">
      article,
      aside,
      details,
      figcaption,
      figure,
      footer,
      header,
      hgroup,
      menu,
      nav,
      section {
        display: block;
      }
      ol,
      ul {
        list-style: none;
      }
      blockquote,
      q {
        quotes: none;
      }
      table {
        border-collapse: collapse;
        border-spacing: 0;
      }
      button:focus-visible {
        outline: 2px solid #4a90e2 !important;
        outline: -webkit-focus-ring-color auto 5px !important;
      }
      a {
        text-decoration: none;
      }
    </style>
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      border: 0;
      font: inherit;
      font-size: 100%;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      box-sizing: border-box;
      margin: 0px;
      height: 100%;
    "
  >
    <div
      class="template-email"
      style="
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        font-size: 100%;
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
        background-color: #ffffff;
        width: 100%;
        min-width: 6000px;
        min-height: 9000px;
        position: relative;
      "
    >
      <div
        class="rectangle"
        style="
          margin: 0;
          padding: 0;
          border: 0;
          font: inherit;
          font-size: 100%;
          -webkit-font-smoothing: antialiased;
          box-sizing: border-box;
          position: absolute;
          top: 0;
          left: 0;
          width: 6000px;
          height: 9000px;
          background-color: #05512d;
        "
      ></div>
      <div
        class="group"
        style="
          margin: 0;
          padding: 0;
          border: 0;
          font: inherit;
          font-size: 100%;
          -webkit-font-smoothing: antialiased;
          box-sizing: border-box;
          position: absolute;
          width: 5336px;
          height: 6114px;
          top: 2025px;
          left: 332px;
        "
      >
        <table
          border="0"
          cellpadding="0"
          cellspacing="0"
          class="rectangle-wrapper"
          style="
            border-collapse: separate;
            padding: 0;
            border: 0;
            font: inherit;
            font-size: 100%;
            -webkit-font-smoothing: antialiased;
            box-sizing: border-box;
            position: absolute;
            top: 136px;
            left: 787px;
            width: 4548px;
            height: 5693px;
          "
        >
          <tr style="vertical-align: top">
            <td align="left" style="position: relative; width: 4333.88px; height: 5526.01px">
              <div
                class="div"
                style="
                  margin: 0;
                  padding: 0;
                  border: 0;
                  font: inherit;
                  font-size: 100%;
                  -webkit-font-smoothing: antialiased;
                  box-sizing: border-box;
                  margin-top: 83.3px;
                  width: 4333.88px;
                  height: 5526.01px;
                  margin-left: 107.2px;
                  background-color: #f79920;
                  border-radius: 200px;
                  transform: rotate(2.26deg);
                  text-align: left;
                "
              ></div>
            </td>
            <td style="padding: 0px; width: 100%"></td>
          </tr>
        </table>
        <div
          class="group-2"
          style="
            margin: 0;
            padding: 0;
            border: 0;
            font: inherit;
            font-size: 100%;
            -webkit-font-smoothing: antialiased;
            box-sizing: border-box;
            position: absolute;
            top: 295px;
            left: 392px;
            width: 4337px;
            height: 5523px;
            transform: rotate(-8.68deg);
          "
        >
          <div
            class="rectangle-2"
            style="
              margin: 0;
              padding: 0;
              border: 0;
              font: inherit;
              font-size: 100%;
              -webkit-font-smoothing: antialiased;
              box-sizing: border-box;
              position: absolute;
              top: 0;
              left: 0;
              width: 4335px;
              height: 5523px;
              background-color: #ef0766;
              border-radius: 200px;
            "
          ></div>
          <p
            class="selamat-datang-di"
            style="
              margin: 0;
              padding: 0;
              border: 0;
              font: inherit;
              font-size: 100%;
              -webkit-font-smoothing: antialiased;
              box-sizing: border-box;
              position: absolute;
              top: 690px;
              left: calc(50% - 1908px);
              width: 3812px;
              font-family: 'Nunito Sans-SemiBold', Helvetica;
              font-weight: 600;
              color: #ffffff;
              font-size: 230px;
              text-align: center;
              letter-spacing: 0;
              line-height: normal;
            "
          >
            🎉 selamat datang di eluna.id! 🎉<br
              style="-webkit-font-smoothing: antialiased; box-sizing: border-box"
            /><br style="-webkit-font-smoothing: antialiased; box-sizing: border-box" />terima kasih sudah bergabung
            ✨<br style="-webkit-font-smoothing: antialiased; box-sizing: border-box" />sekarang kamu resmi jadi bagian
            dari ekosistem seru yang menghubungkan pelanggan dan merchant favoritmu.<br
              style="-webkit-font-smoothing: antialiased; box-sizing: border-box"
            /><br style="-webkit-font-smoothing: antialiased; box-sizing: border-box" />yuk, mulai kumpulin poin dan
            nikmati berbagai keuntungan di setiap transaksi!<br
              style="-webkit-font-smoothing: antialiased; box-sizing: border-box"
            /><br style="-webkit-font-smoothing: antialiased; box-sizing: border-box" />"every experience matters"
          </p>
          <img
            class="elemen"
            src="img/elemen-3-1.png"
            style="
              margin: 0;
              padding: 0;
              border: 0;
              font: inherit;
              font-size: 100%;
              -webkit-font-smoothing: antialiased;
              box-sizing: border-box;
              top: 47px;
              width: 805px;
              height: 581px;
              position: absolute;
              left: 1765px;
              transform: rotate(8.68deg);
              aspect-ratio: 1.56;
              object-fit: cover;
            "
          />
          <img
            class="img"
            src="img/elemen-3-2.png"
            style="
              margin: 0;
              padding: 0;
              border: 0;
              font: inherit;
              font-size: 100%;
              -webkit-font-smoothing: antialiased;
              box-sizing: border-box;
              top: 4885px;
              width: 807px;
              height: 582px;
              position: absolute;
              left: 1765px;
              transform: rotate(8.68deg);
              aspect-ratio: 1.56;
              object-fit: cover;
            "
          />
        </div>
      </div>
      <img
        class="logo-white"
        src="img/logo-white-1.png"
        style="
          margin: 0;
          padding: 0;
          border: 0;
          font: inherit;
          font-size: 100%;
          -webkit-font-smoothing: antialiased;
          box-sizing: border-box;
          position: absolute;
          top: 228px;
          left: calc(50% - 1310px);
          width: 2620px;
          height: 1514px;
          aspect-ratio: 1.73;
          object-fit: cover;
        "
      />
      <img
        class="e-commerce-product"
        src="img/e-commerce-product-2-2.png"
        style="
          margin: 0;
          padding: 0;
          border: 0;
          font: inherit;
          font-size: 100%;
          -webkit-font-smoothing: antialiased;
          box-sizing: border-box;
          position: absolute;
          top: 8422px;
          left: 3527px;
          width: 309px;
          height: 309px;
          aspect-ratio: 1;
          object-fit: cover;
        "
      />
      <img
        class="asset"
        src="img/asset-26.png"
        style="
          margin: 0;
          padding: 0;
          border: 0;
          font: inherit;
          font-size: 100%;
          -webkit-font-smoothing: antialiased;
          box-sizing: border-box;
          position: absolute;
          top: 8425px;
          left: 1437px;
          width: 309px;
          height: 309px;
          aspect-ratio: 1;
          object-fit: cover;
        "
      />
      <table
        border="0"
        cellpadding="0"
        cellspacing="0"
        class="eluna"
        style="
          border-collapse: separate;
          padding: 0;
          border: 0;
          font: inherit;
          font-size: 100%;
          -webkit-font-smoothing: antialiased;
          box-sizing: border-box;
          position: absolute;
          top: 8512px;
          left: 1858px;
          width: 426px;
          height: 123px;
        "
      >
        <tr style="vertical-align: top">
          <td align="left" style="position: relative; width: 80.95px; height: 87.66px">
            <img
              class="vector"
              src="img/vector-2.svg"
              style="
                margin: 0;
                padding: 0;
                border: 0;
                font: inherit;
                font-size: 100%;
                -webkit-font-smoothing: antialiased;
                box-sizing: border-box;
                margin-top: 35.5px;
                width: 80.95px;
                height: 87.66px;
                text-align: left;
              "
            />
          </td>
          <td align="left" style="position: relative; width: 42.02px; height: 123.14px">
            <img
              class="vector-2"
              src="img/image.svg"
              style="
                margin: 0;
                padding: 0;
                border: 0;
                font: inherit;
                font-size: 100%;
                -webkit-font-smoothing: antialiased;
                box-sizing: border-box;
                width: 42.02px;
                height: 123.14px;
                margin-left: 17px;
                text-align: left;
              "
            />
          </td>
          <td align="left" style="position: relative; width: 77.85px; height: 85.94px">
            <img
              class="vector-3"
              src="img/vector-6.svg"
              style="
                margin: 0;
                padding: 0;
                border: 0;
                font: inherit;
                font-size: 100%;
                -webkit-font-smoothing: antialiased;
                box-sizing: border-box;
                margin-top: 37.2px;
                width: 77.85px;
                height: 85.94px;
                margin-left: 12.5px;
                text-align: left;
              "
            />
          </td>
          <td align="left" style="position: relative; width: 78.88px; height: 85.94px">
            <img
              class="vector-4"
              src="img/vector-3.svg"
              style="
                margin: 0;
                padding: 0;
                border: 0;
                font: inherit;
                font-size: 100%;
                -webkit-font-smoothing: antialiased;
                box-sizing: border-box;
                margin-top: 35.5px;
                width: 78.88px;
                height: 85.94px;
                margin-left: 22.4px;
                text-align: left;
              "
            />
          </td>
          <td align="left" style="position: relative; width: 76.12px; height: 87.66px">
            <img
              class="vector-5"
              src="img/vector-8.svg"
              style="
                margin: 0;
                padding: 0;
                border: 0;
                font: inherit;
                font-size: 100%;
                -webkit-font-smoothing: antialiased;
                box-sizing: border-box;
                margin-top: 35.5px;
                width: 76.12px;
                height: 87.66px;
                margin-left: 18.1px;
                text-align: left;
              "
            />
          </td>
          <td style="padding: 0px; width: 100%"></td>
        </tr>
      </table>
      <table
        border="0"
        cellpadding="0"
        cellspacing="0"
        class="eluna-id"
        style="
          border-collapse: separate;
          padding: 0;
          border: 0;
          font: inherit;
          font-size: 100%;
          -webkit-font-smoothing: antialiased;
          box-sizing: border-box;
          position: absolute;
          top: 8507px;
          left: 3948px;
          width: 615px;
          height: 125px;
        "
      >
        <tr style="vertical-align: top">
          <td align="left" style="position: relative; width: 80.95px; height: 87.66px">
            <img
              class="vector-6"
              src="img/vector-9.svg"
              style="
                margin: 0;
                padding: 0;
                border: 0;
                font: inherit;
                font-size: 100%;
                -webkit-font-smoothing: antialiased;
                box-sizing: border-box;
                margin-top: 37.4px;
                width: 80.95px;
                height: 87.66px;
                text-align: left;
              "
            />
          </td>
          <td align="left" style="position: relative; width: 42.02px; height: 123.14px">
            <img
              class="vector-7"
              src="img/vector-4.svg"
              style="
                margin: 0;
                padding: 0;
                border: 0;
                font: inherit;
                font-size: 100%;
                -webkit-font-smoothing: antialiased;
                box-sizing: border-box;
                margin-top: 1.9px;
                width: 42.02px;
                height: 123.14px;
                margin-left: 17px;
                text-align: left;
              "
            />
          </td>
          <td align="left" style="position: relative; width: 77.85px; height: 85.94px">
            <img
              class="vector-8"
              src="img/vector-5.svg"
              style="
                margin: 0;
                padding: 0;
                border: 0;
                font: inherit;
                font-size: 100%;
                -webkit-font-smoothing: antialiased;
                box-sizing: border-box;
                margin-top: 39.1px;
                width: 77.85px;
                height: 85.94px;
                margin-left: 12.5px;
                text-align: left;
              "
            />
          </td>
          <td align="left" style="position: relative; width: 78.88px; height: 85.94px">
            <img
              class="vector-9"
              src="img/vector-11.svg"
              style="
                margin: 0;
                padding: 0;
                border: 0;
                font: inherit;
                font-size: 100%;
                -webkit-font-smoothing: antialiased;
                box-sizing: border-box;
                margin-top: 37.4px;
                width: 78.88px;
                height: 85.94px;
                margin-left: 22.4px;
                text-align: left;
              "
            />
          </td>
          <td align="left" style="position: relative; width: 76.12px; height: 87.66px">
            <img
              class="vector-10"
              src="img/vector-10.svg"
              style="
                margin: 0;
                padding: 0;
                border: 0;
                font: inherit;
                font-size: 100%;
                -webkit-font-smoothing: antialiased;
                box-sizing: border-box;
                margin-top: 37.4px;
                width: 76.12px;
                height: 87.66px;
                margin-left: 18.1px;
                text-align: left;
              "
            />
          </td>
          <td align="left" style="position: relative; width: 24.11px; height: 23.94px">
            <img
              class="vector-11"
              src="img/vector.svg"
              style="
                margin: 0;
                padding: 0;
                border: 0;
                font: inherit;
                font-size: 100%;
                -webkit-font-smoothing: antialiased;
                box-sizing: border-box;
                margin-top: 99.4px;
                width: 24.11px;
                height: 23.94px;
                margin-left: 20px;
                text-align: left;
              "
            />
          </td>
          <td align="left" style="position: relative; width: 24.11px; height: 123.32px">
            <img
              class="vector-12"
              src="img/vector-7.svg"
              style="
                margin: 0;
                padding: 0;
                border: 0;
                font: inherit;
                font-size: 100%;
                -webkit-font-smoothing: antialiased;
                box-sizing: border-box;
                width: 24.11px;
                height: 123.32px;
                margin-left: 19.1px;
                text-align: left;
              "
            />
          </td>
          <td align="left" style="position: relative; width: 85.6px; height: 123.14px">
            <img
              class="vector-13"
              src="img/vector-12.svg"
              style="
                margin: 0;
                padding: 0;
                border: 0;
                font: inherit;
                font-size: 100%;
                -webkit-font-smoothing: antialiased;
                box-sizing: border-box;
                margin-top: 1.9px;
                width: 85.6px;
                height: 123.14px;
                margin-left: 16.5px;
                text-align: left;
              "
            />
          </td>
          <td style="padding: 0px; width: 100%"></td>
        </tr>
      </table>
    </div>
  </body>
</html>
